<link rel="stylesheet" href="/css/footer.css">
<div id="footer">
	<div class="hose">
		<div><img src="/img/Manguera gas.png" alt=""></div>
		<div><img src="/img/Manguera gas 2.png" alt=""></div>
	</div>
	<div class="brand">
		Promogames ©
	</div>
</div>