<link rel="stylesheet" href="/css/header.css">
<div id="header">
	<div class="navbar">
		<div><img src="/img/Logo Litros de la suerte.png" alt=""></div>
		<div><img src="/img/Logo petro 7.png" alt=""></div>
	</div>
</div>