<div id="ranking" align="center">
<p>Los resultados del concurso con la fecha del 01 a 30 de Noviembre se daran a conocer en las proximas horas....</p>
	<table>
		<tr>
			<th>Posición</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Tickets</th>
		</tr>
		{{#each tickets}}
		<tr>
			<td>{{this.posicion}}</td>
			<td>{{this.nombre}}</td>
			<td>{{this.apellidos}}</td>			
			<td>{{this.tickets}}</td>
		</tr>
		{{/each}}
	</table>
</div>