<div id="ranking" align="center">
<p>Ganadores del periodo 01-30 de Noviembre</p>
	<table>
		<tr>
			<th>Posición</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Tickets</th>
		</tr>
		{{#each tickets}}
		<tr>
			<td>{{this.posicion}}</td>
			<td>{{this.nombre}}</td>
			<td>{{this.apellidos}}</td>			
			<td>{{this.tickets}}</td>
		</tr>
		{{/each}}
	</table>
</div>