<link rel="stylesheet" href="/css/home.css">
<div id="home">
	<div class="screen">
		<img src="/img/tv2.png" alt="">
		<p>
			<b>Bases:</b> Da click en el botón <a href="/ingresa">"Entrar"</a> y crea tu perfil.
			<br><br> Las personas que más participaciones acumulen del <b>01 al 30 de Noviembre del 2017</b> se harán acreedores
			a:
			<br><br>
			<b>1° Lugar:</b> Pantalla LG de 49".
			<br><br>
			<b>Del 2° al 10°:</b> 1 Vale de gasolina por $500.00 (Quinientos pesos 00/100 M.N.) canjeables en cualquier sucursal de
			cadena Petro 7.
			<br><br> En caso de deudas o aclaraciones sobre la promoción comuníquese al Centro de Atención <b>"LITROS DE LA SUERTE"</b> al 
			<b>01 800 987-4262</b> o <b>55 9131-5317.</b> 
			<br><br>
			(IMPORTANTE: En caso de resultar Ganador, para reclamar tu premio es necesario conservar y presentar los cupones capturados
			en el periodo correspondiente.)
			<br><br>
			Esta promoción ha sido registrada ante la <b>Procuraduría Federal del Consumidor.</b>
		</p>
	</div>
	
	<button onclick="window.location.href = '/ingresa'" class="form-button">Entrar</button>
	<br>
	<button onclick="window.location.href = '/ganadores'" class="form-button">Ganadores</button>

</div>