<link rel="stylesheet" href="/css/home.css">
<script language="JavaScript" type="text/javascript">
alert("Se esta cerrando el concurso del periodo enero, por el momento no podras Entrar, en un par se reanuda la Entrada ");
</script>
         
<div id="home">
	<div class="screen">
		<img src="/img/tvenero.gif" alt="">
		
	</div>
	
	<button onclick="window.location.href = '#'" class="form-button">Entrar</button>
	<br>
	<button onclick="window.location.href = '#'" class="form-button">Ganadores</button>

</div>