<link rel="stylesheet" href="/css/home.css">
<div id="home">
	<div class="screen">
		<img src="/img/tv3.gif" alt="">
		
	</div>
	
	<button onclick="window.location.href = '/ingresa'" class="form-button">Entrar</button>
	<br>
	<button onclick="window.location.href = '/ganadores'" class="form-button">Ganadores</button>

</div>