<link rel="stylesheet" href="/css/login.css">
<div id="login" class="flexbox">
	<div id="loginForm" class="card">
		<div class="form-title">Inicia sesión o registrate para continuar:</div>
		<hr>
		<form action="">
			<input type="text" class="form-input" placeholder="usuario">
			<input type="text" class="form-input" placeholder="password">
		</form>
	</div>
</div>