<link rel="stylesheet" href="/css/signup.css">
<div id="signup" class="flexbox">
	<div id="signupForm" class="card">
		<div class="form-title">Usuario nuevo:</div>
		<hr>
		<form class="" action="">
			<input type="text" class="form-input" placeholder="Nombre">
			<input type="text" class="form-input" placeholder="Apellidos">
			<input type="text" class="form-input" placeholder="Usuario">
			<input type="text" class="form-input" placeholder="Password">
			<input type="text" class="form-input" placeholder="Correo electronico">
			<input type="text" class="form-input" placeholder="Teléfono">
		</form>
	</div>
	
</div>