<link rel="stylesheet" href="/css/ticket.css">
<div id="ticket">
	<div id="ticketContent" class="card">
		<div class="form-title">
			Registra el código que raspaste en tu ticket
		</div>
		<hr>
		<form action="">
			<input type="text" class="form-input" placeholder="Ticket">
			<input type="submit" value="Subir">
		</form>	
	</div>
</div>