body {
	background-color: #077e5b;
	margin: 0;
	font-family: 'Roboto', sans-serif;	
}

.container {
	background-color: white;
	margin: auto;
	width: 80%;
	height: 100%;
}

.flexbox {
	display: flex;
	justify-content: center;
}

/* Responsive */
@media only screen and (max-width: 640px) {
	.container {
		width: 95%;
	}
}