#home {
	display: flex;
	padding-top: 20px;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#home .screen {
	position: relative;
}

#home .screen > p {
	position: absolute;
	color: white;
	top: 0;
	padding: 4% 4% 4% 4%;
	width: 92%;
	height: 92%;
	margin: 0;
}

#home .screen > p > a, #home .screen > p > a:visited, #home .screen > p > a:active {
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

/* Responsive */

@media only screen and (max-width: 850px) {
	#home .screen {
		position: static;
		width: 100%;
	}

	#home .screen img {
		object-fit: contain;
		max-width: 100%;
	}

	#home .screen > p {
		position: static;
		color: black;
		font-size: 2em;
		height: auto;
	}
}