#ticket {
	display: flex;
	justify-content: center;
}

#ticketContent {
	padding: 40px 40px 40px 40px;
	height: 60%;
}

#ticketContent > .form-title {
	text-align: center;
}

#ticketContent > form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#ticketContent > form > input[type="text"] {
	padding: 20px 20px 20px 20px;
	width: 300px;
	height: 150px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("https://t3.ftcdn.net/jpg/00/88/66/62/240_F_88666263_Eq0QV4SVRkWHgkNaRJn671g9BNnphQmm.jpg");
	background-position: center;
	background-size: 130%;
	background-repeat: no-repeat;
	opacity: 1;

	color: #635e53;
	font-weight: bold;
	font-size: 20px;
	text-align: center;

	transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}

#ticketContent > form input[type="submit"] {
	background-color: white;
	border: 0;
	width: 100px;
	height: 50px;
	padding: 10px 10px 10px 10px;

	transition: box-shadow 0.9s cubic-bezier(0.86, 0, 0.07, 1);

	margin-top: 10px;
}

#ticketContent > form input[type="submit"]:focus {
	outline: none;
}

#ticketContent > form input[type="submit"]:hover {
	box-shadow: inset 0 0 0 5px #333333;
}

/* Responsive */

@media only screen and (max-width: 470px) {
	#ticketContent {
		width: 90%;
	}

	#ticketContent > form input[type="text"] {
		width: 100%;
	}
}